* {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    border: 3px solid black;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.projects {
    display: flex;
    border: 2px solid fuchsia;
    justify-content: left;    
    align-items: flex-end;
}

.primary-project {
    background-image: url(../img/catherder720x341.png);
    display: flex;
    height: 341px;
    flex: 1 1 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    margin: 10px;
    border: 2px solid greenyellow;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
 }

.other-projects-left {
    display: flex;
    border: 2px solid blue;
    flex: 1 1 50%;
    height: 150px;
    margin: 10px;
}

.other-projects-right {
    border: 2px solid green;
    flex: 1 1 50%;
    height: 150px;
    margin: 10px;
}

#css-styling {
    background-image: url(../img/cssshowcase.PNG); 
}

#horiseon {
    background-image: url(../img/horiseon.PNG);
}



#headings {
    background-color: chartreuse;
    /* font-size: 20px; */
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#project-name {
    font-size: 20px;
    font-weight: bolder;
}
